* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'source-sans-pro';
    src: url(fonts/SourceSansPro-Semibold.otf);
    font-weight: 600; 
    font-style: normal;
}

@font-face {
    font-family: 'source-sans-pro';
    src: url(fonts/SourceSansPro-LightIt.otf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'source-sans-pro';
    src: url(fonts/SourceSansPro-Light.otf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'spincycle';
    src: url(fonts/spincycle_ot.otf);
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header, main , footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Background */
.background-area {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -100;
}

.background-area img {
    width: 100%;
}


/* HEADER SECTION */

header {
    margin-top: 30px;
    width: 77%;
}

nav {
    display: flex;
    align-items: center;
}

nav a img {
    width: 167px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 234px;
    font-family: 'source-sans-pro';
    font-size: 12px;
    font-weight: 700;
}

nav ul a {
    text-decoration: none;
    color: white;
}


/* BANNER SECTION */
main {
    width: 100%;
    flex-direction: column;
    font-family: 'source-sans-pro';
}

.banner {
    text-align: center;  
    color: white;
}

/* Banner Top */
.banner-top {
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-top h1 {
    font-size: 120px;
}

.banner-top p {
    display: flex;
    justify-content: space-between;
    width: 253px;
    font-weight: 600;
}

.banner-top button {
    width: 162px;
    height: 44px;
    margin-top: 40px;
    font-family: 'source-sans-pro';
    font-weight: 600;
    font-size: 14px;
    background-color: #C271FF;
    color: white;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, .5);
    border-radius: 22px;
    border: none;
    outline: none;
    cursor: pointer;
}

/* Banner Bottom */

.banner-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 464px;
}

.banner-bottom h2 {
    font-size: 32px;
    font-weight: 300;
    font-style: normal;
}

.banner-bottom h2 span {
    color: #C271FF;
    font-weight: 600;
}

.banner-bottom .profiles {
    width: 1010px;
    display: flex;
    justify-content: space-between;
}

.banner-bottom .profiles div img {
    width: 150px;
}

.banner-bottom .profiles div h3 {
    font-size: 18px;
    margin-top: 7px;
}

.banner-bottom .profiles div p {
    font-size: 16px;
    width: 145px;
    font-weight: 300;
    font-style: italic;
    margin-top: 7px;
}

/* Quote Section */

.quote {
    width: 100%;
    height: 392px;
    background-color: #C271FF;
    display: grid;
    place-items: center;
}

.quote div {
    width: 943px;
    height: 160px;
    display: flex;
    justify-content: space-between;
    font-family: 'source-sans-pro';
}

.quote div div {
    width: 730px;
    flex-direction: column;
    font-size: 22px;
    color: white;
}

.quote div p:nth-child(2) {
    font-style: normal;
    font-weight: 600;
    margin-bottom: -40px;
}

.quote div p{
    font-style: italic;
}

/* Videos Section */

.videos {
    height: 624px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.videos h1 {
    font-family: 'source-sans-pro';
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 75px;
}

.videos h1 span {
    color: #C271FF;
    font-weight: 600;
}

.videos-area {
    width: 1228px;
    height: 335px;
    display: flex;
    justify-content: space-evenly;
}

.video-block {
    width: 255px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.video-block img {
    cursor: pointer;
}

.video-block h2 {
    font-size: 16px;
    margin-top: 15px;
    margin-left: 10px;
}

.video-block p {
    font-size: 14px;
    margin: 0 10px;
    color: #071629;
}

.video-block div {
    display: flex;
}

.author-information {
    align-items: center;
    margin: 5px 10px;
}

.author-information h3 {
    font-size: 14px;
    margin-left: 10px;
    color: #C271FF;
}

.rating {
    justify-content: space-between;
    align-items: center;
    margin:0px 10px 10px 10px;
    font-size: 18px;
    color: #C271FF;
}

.rating p {
    color: #C271FF;
}

/* Membership section */

.membership {
    width: 100%;
    height: 502px;
    background-color: #071629;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.membership h1 {
    color: white;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 58px;
}

.membership h1 span{
    color: #C271FF;
    font-weight: 600;
}

.membership div {
    width: 1111px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.membership div div {
    height: 153px;
    width: 212px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.membership div div img {
    width: 44px;
}

.membership button {
    width: 162px;
    height: 44px;
    margin-top: 85px;
    font-family: 'source-sans-pro';
    font-weight: 600;
    font-size: 14px;
    background-color: #C271FF;
    color: white;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, .5);
    border-radius: 22px;
    border: none;
    outline: none;
    cursor: pointer;
}

/* FAQ Section */

.faq {
    height: 707px;
    width: 902px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 80px;
}

.faq h1 {
    font-size: 60px;
    font-weight: 300;
}

.column-block {
    height: 551px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row-block {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-blocks {
    width: 350px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-blocks h2 {
    font-size: 16px;
}

.item-blocks p {
    font-size: 14px;
}


footer {
    width: 100%;
    height: 240px;
    background-color: #071629;
    display: flex;
    justify-content: center;
    font-family: 'source-sans-pro';
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 1030px;
    margin-top: 20px;
}

footer div div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1030px;
    margin-bottom: 30px;
}

footer div p {
    color: white;
}

.social-media-links {
    width: 130px;
}

.social-media-links a img {
    width: 30px;
}